# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
**/.env
**/node_modules/
dist/
dist-ssr/
Employee-app/src/data/data-bookings.js
Employee-app/src/data/data-cabins.js
Employee-app/src/data/data-guests.js
Employee-app/src/data/images/
*.local
*/.next/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
